.card-container{
    box-shadow: 0px 0px 15px -5px black;
    padding: 28px;
    border-radius: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: start;
}
.card-title{
    color: rgb(68, 68, 68);
    font-size: 18px;
    font-weight: 700;
}
.card-body{
    color: rgb(153, 153, 153);
    font-size: 16px;
    font-weight: 400;
}
span{
    margin-left: 10px;
}
div button{
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(247, 120, 37);
    border: 2px rgb(247, 120, 37) solid;
    background-color: transparent;
}